<script>
  function handleBtn() {
    const value = $("#txtContent").val();
    console.log(value);
    $("#exam11Card").scope().$apply(`setContent("${value}")`);
  }
</script>

<div id="exam11Card" class="card">
    <div class="card-header">
      exam11_outside_to_scope.html        
    </div>

    <div class="card-body">
      <div class="alert alert-primary">
        <div class="form-group">
          <label>입력 데이터</label>
          <input type="text" id="txtContent" class="form-control"/>
        </div>
        <button class="btn btn-info btn-sm" onclick="handleBtn()">일반 버튼</button>
      </div>      

      <div class="alert alert-success">
        입력값: {{content}}
      </div>
    </div>
</div>