<div class="card">
    <div class="card-header">
      exam22_filter
    </div>

    <div class="card-body">
        <div class="alert alert-primary">
          개수 제한
          <select ng-model="limitVal">
            <option ng-repeat="limit in limitRange">{{limit}}</option>
          </select>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>분류</th>
              <th>가격</th>
              <th>유효기간</th>
            </tr>
          </thead>
          <tbod>
            <tr ng-repeat="product in products | limitTo:limitVal">
              <td>{{product.pno}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>₩{{product.price | number:0}}</td>
              <td>{{getExpiryDate(product.expiry) | date:"yyyy.MM.dd"}}</td>
            </tr>
          </tbod>
        </table>
    </div>

    <div>
      <div class="alert alert-primary">
        속성 필터링
        <select ng-model="categoryVal">
          <option ng-repeat="category in categoryList">{{category}}</option>
        </select>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>분류</th>
            <th>가격</th>
            <th>유효기간</th>
          </tr>
        </thead>
        <tbod>
          <tr ng-repeat="product in products | filter: {category: getCategoryVal()}">
            <td>{{product.pno}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>₩{{product.price | number:0}}</td>
            <td>{{getExpiryDate(product.expiry) | date:"yyyy.MM.dd"}}</td>
          </tr>
        </tbod>
      </table>
  </div>

  <div>
    <div class="alert alert-primary">
      복잡한 조건으로 필터링
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>분류</th>
          <th>가격</th>
          <th>유효기간</th>
        </tr>
      </thead>
      <tbod>
        <tr ng-repeat="product in products | filter: checkFiltering"> <!-- 함수 호출 하는 것이x, 함수 이름만, product 1개가 들어가서 실행되는 것은 컨트롤러에서, true로 리턴되는 것만 리턴 -->
          <td>{{product.pno}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>₩{{product.price | number:0}}</td>
          <td>{{getExpiryDate(product.expiry) | date:"yyyy.MM.dd"}}</td>
        </tr>
      </tbod>
    </table>
  </div>

  <div>
    <div class="alert alert-primary">
      정렬
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>분류</th>
          <th>가격</th>
          <th>유효기간</th>
        </tr>
      </thead>
      <tbod>
        <!-- <tr ng-repeat="product in products | orderBy : '-price'"> -->
        <tr ng-repeat="product in products | orderBy : ['category', '-price']">
          <td>{{product.pno}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>₩{{product.price | number:0}}</td>
          <td>{{getExpiryDate(product.expiry) | date:"yyyy.MM.dd"}}</td>
        </tr>
      </tbod>
    </table>
  </div>
</div>