<div class="card">
    <div class="card-header">
        exam07_scope_inplicit_property.html
        <span class="badge badge-info ml-2">{{(todos | filter: {complete:false}).length}}</span>
    </div>

    <div class="card-body row">
        <div class="col-sm-6">
            <div class="card card-body">
              <div class="form-group">
                <label for="actionText">Action:</label>
                <input id="actionText" type="text" class="form-control" ng-model="newTodo.action"/> <!-- 정의 되어 있지 않아도 암시적으로 생성 -->
              </div>
              <div class="form-group">
                <label for="actionLocation">Location:</label>
                <select id="actionLocation" ng-model="newTodo.location">
                    <option value="Home">Home</option>
                    <option value="Office">Office</option>
                </select>
              </div>
              <button class="btn btn-primary btn-sm mb-2" ng-click="addNewItem1(newTodo)">추가</button>
              <button class="btn btn-primary btn-sm" ng-click="addNewItem2()">추가</button>     <!-- 매개 값을 넘기지 않아도 scope에 자동으로 만들어 짐(암시적 생성) -->
            </div>
          </div>
          <div class="col-sm-6">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Action</th>
                  <th>Done</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in todos">  <!-- 컨트롤러에서 정의한 todos를 item에 저장 -->
                    <td>{{$index+1}}</td>
                    <td>{{item.action}}</td>
                    <td>{{item.complete}}</td>
                    <td><input type="checkbox" ng-model="item.complete"/></td>  <!--ng-model: 양방향 바인딩, 컨트롤러 속성값도 바꿀 수 있음-->
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>