<div class="card">
    <div class="card-header">
      exam10_scope_watch.html        
    </div>

    <div class="card-body">
      <div class="alert alert-primary">
        <form>
          <div  class="form-group">
            <label>비빌번호 입력</label>
            <input type="text" class="form-control" ng-model="user.password1"/>
          </div>
  
          <div  class="form-group">
            <label>비밀번호 확인</label>
            <input type="text" class="form-control" ng-model="user.password2"/>
          </div>
  
          <div>
            <button id="btn" class="btn btn-success {{btnDisabled?'disabled':''}}">버튼</button>
          </div>
        </form>
      </div>
    </div>
</div>